#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  margin: 10px;
  color:navy;
  background-color: beige;
}

header {
  margin:10px;
  padding: 60px;
  border: 5px;
  background-color:darksalmon;
}

nav {
  margin:10px;
  padding: 60px;
  border: 5px;
  font-size: 20px;
}
nav :hover {
  color:rgb(128, 62, 16);
}
nav a {
  border-radius: 8px;
  color:navy;
  border: 2px solid navy;
  background-color: lightblue;
  padding: 15px;
  margin: 15px;
}

h1 {
  color:#646cff;
  font-size:70px;
  margin-bottom: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  color:cadetblue;
  font-size:55px;
  margin-bottom: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
}

table {
  font-size: 20px;
  padding: 10px;
  border: 5px solid navy;
  margin-left: auto;
  margin-right: auto;
  background-color:lemonchiffon;
  border-collapse: collapse;
}
thead {
  font-size: 25px;
  padding: 20px;
  border: 2px solid;
}
table tr, table th {
  padding: 20px;
  color: navy;
  border: 2px solid;
}
table tr, table td {
  padding: 20px;
  color: navy;
  border: 2px solid;
}

input, select {
  background-color:azure;
  color:navy;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:darkkhaki;
  margin-top:20px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  padding: 5px;
  background-color:palegoldenrod;
  margin-top: 200px;
}

form {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form input,
form button {
  font-family: inherit;
}
